ol, ul { list-style: none;}
a { text-decoration:none;}
a:hover { text-decoration: underline;}

#header ul li {
float: left;
padding-left:40px;
margin-right: 40px;
margin-top: 20px;
}

#header ul li {
	height: 20px;
	border: 1px solid black;
	background:url("Ebackground.png");
	30px 30px 30px; }
	
.logincontainer body {
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    text-align: left;
}

#logiform {
    margin: 0;
    padding: 0;
}
body {
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    text-align: left;
}