
html {margin-right:1px;padding: 0;}

body {background: -moz-linear-gradient(top, #000000 0%, #383838 14%, #3f3f3f 27%, #515151 42%, #757575 57%, #a5a5a5 72%, #cecece 87%, #d3d3d3 100%); /* FF3.6+ */
	background-repeat: no-repeat;  margin: 0 auto;
    width: 960px;} 
ul {
	list-style: none;
	margin: 11px -3px 10px;}

.logo {height:81px; margin: 0px -5px;}

.loginid {float:right; 
color:white;
text-align:left;
direction:ltr;
font-family:lucida;
margin:19px 0px;
width:355px;
}

.loginid div, .loginid div *
{
	float:left;
	text-decoration:none;
	color:white;
	clear:left;
}

.loginid div {margin-left:3px; clear:none;
}


.loginid input {
clear:left;
width:150px;
}
.loginid div input.login {background-color:gray;
color:white;
border:none;
padding:1px;
font-weight:bold;
font-family:lucida;
margin-top:19px;
width:auto;
}

#persist_box { 
	clear:left; 
	margin-left:0px; 
	width:auto;
}

#persistboxlabel {clear:none;}


#navigation {
	height: 30px;
	border: 2px solid gray;
	background:url("Ebackground.png");
	width:96%;
	}

ul#navigation li {
	float:left;
	margin-right:23px;
	margin-top:5px;
	font-weight:bold;
	padding-left:20px;
	border-left:1px solid grey;
}

ul#navigation li:first-child, ul#navigation li.last{border-left:0 none;}
	
ul#navigation li a{ color:white; text-decoration:none; }


ul#navigation li a:hover{
	color:blue; 
	text-decoration:underline;}
ul#navigation li a:visited{
	color:white;}
ul#navigation li.last {float:right; margin: -1px 2px;}

div.box
{
width:520px;
height:345px;
padding:.5px;
border:5px solid black;
margin:0px;
float:right; 
}


.form {width:auto; position:relative; float:right;}
form {color:black; float:right; width:262px;
padding:5px;
border:1px solid gray;
margin:0px; }
form input {float:right; width:190px;}
form label {width:auto;float:left; clear:left; color:white; }
form input, form label {margin-bottom: 10px;}

form h3 {Color:#FFF; background-color:blue; text-align:center; margin-top: 0;}

.submit {background-color:blue; 
border-width:1px;	
border-radius:5px;
width: 100px;
color: white;
position: relative; left:-45px;
clear:both;
margin-top:10px;
font-size:18px;
}

div.ad 
{
width:262px;
height:auto;
padding:12px 5px; 
border:1px solid gray;
margin:0px;
float:right;
position:relative; bottom:200px;
color:white;
font-weight:bold;

}
div.ad img {width: inherit;}

td
{
height:50px;
vertical-align:bottom;
}

div.text
{
width:670px;
height:400px;
padding:5px;
border:0px solid gray;
margin:0px;
 
}

div.ad2 
{
width:262px;
height:150;
padding:12px 5px; 
border:1px solid gray;
margin:0px;
float:right;
color:white;
font-weight:bold; 
position: relative; top:-404px;
}

div.ad3 
{
width:270px;
height:180;
border:1px solid gray;
margin:-4px;
color:black; 
position:relative; top:173px;
text-align:center;
}

div.footer
{ 
width:955; 
height:45;
border:none;
float:right;
position:relative; top:190px; }

